$primaryColor: rgb(255, 255, 255);
$secondaryColor: rgb(224, 141, 199);

$backgroundGradient: linear-gradient(90deg, rgba(212,11,151,1) 21%, rgba(255,0,221,1) 95%); ;
$hoverBtnColor: rgb(234, 59, 181);
$hoverColor: rgb(255, 255, 255);
$activeBtnColor: rgba(212,11,151,1);

$primaryFontSize: 16px;
$checkboxWidth: 12px;
$checkboxHeight: 12px;